.cidades-titulo {
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 900px;
    margin: 50px auto;
}


.imagem img{
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}


.botao {
    text-decoration: none;
    background-color: #00bfff;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}



.botao:hover{
    background-color: #009acd;
    transform: scale(1.02);
}


.menu {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00bfff;
}

.cidades {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 30px;
   flex-wrap: wrap;
}

.cidades a {
    text-decoration: none;
    background-color: #00bfff;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.cidades a:hover{
     background-color: #009acd; 
     transform: scale(1.05);
     box-shadow: 0 6px 12px rgba(0,0,0,0.3);

}