.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 900px;
    margin: 50px auto;
}


.imagem img{
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}


.botao {
    text-decoration: none;
    background-color: #00bfff;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}



.botao:hover{
    background-color: #009acd;
    transform: scale(1.02);
}


.menu {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #00bfff;
}